.tableTitleContainer {
    display: flex;
    flex-direction: row;
    border: 1px solid blue;
}

.titleItem {
    display: flex;
    flex: 1 1;
}

.titleItem:nth-child(1) {
    justify-content: flex-end;
    padding-right: 20px;
}

.titleItem:nth-child(2) {
    justify-content: flex-start;
    padding-left: 20px;
}